* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: verdana;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #ffc8c8, #dfa9ff);
}

.main_wraper {
    padding-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.multistep_wraper {
    min-width: 43rem;
    height: auto;
    box-shadow: 1px 1px 15px #00000042;
    padding: 35px;
    border-radius: 8px;
    background: white;
}

.step_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field_wpr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin-top: 11px;
}

.btn_bar {
    margin-top: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 57px;
    box-sizing: border-box;
}

.field_inner_wpr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 21%;
}

button {
    padding: 8px 17px;
    border: 0;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button.prev {
    background: dodgerblue;
}

button.next {
    background: green;
}

label[for="gender"] {
    margin-bottom: 8px;
    display: block;
    font-size: 21px;
}

div#gender {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

span.error {
    font-size: 14px;
    display: block;
    color: red;
    text-align: right;
}

input {
    padding: 3px;
    outline: none;
    border-radius: 3px;
}

.filed_head {
    font-size: 24px;
    color: purple;
    text-align: justify;
    padding-left: 13px;
    display: block;
    width: 100%;
    margin-bottom: 12px;
    font-weight: 600;
    font-family: cursive;
}

.heaingwpr h1 {
    font-family: cursive;
    font-size: 31px;
    margin-bottom: 32px;
}

div#hobbies {
    width: 241px;
}